<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <!-- <script src="{% static 'htmx.min.js' %}"></script> -->
    <!-- <script src="{% static 'htmx.ext.sse.js' %}"></script> -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>

</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <div id="game-board">
            <div hx-ext="sse" sse-connect="game-state/" sse-swap="innerHTML">
            </div>
        </div>
    </main>
    <footer>
        <p>Author: {{ author }}</p>
    </footer>
</body>
</html>

